<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecomixx Concrete Solution Corporation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        #aboutus{
            background-color: rgb(101, 179, 23);
            border: 1px double gray;
        }
        #myCarousel{
            max-height: 10vh;
        }
    </style>

</head>
  <body>
       
        <div class="container-fluid">
            <div class="card text-center" id="aboutus">
                <div class="card-header">
                    <hr>
                    <h1>About Us</h1>
                    <hr>
                </div>
            </div>
        </div>
        <br></br>
        <div class="container">
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <img src="New.jpg" class="object-fit-contain border rounded" alt="" srcset="">
                </div>
                <div class="flex-grow-1 ms-3">
                    <p>Founded in 2019, ECOMIXX has a continuing commitment to support local and national socio-economic development.
                         Our quarry and crusher plants were established to 
                        provide high-quality aggregates for various land development and construction needs.  
                        To ensure consistent and reliable supply, specialized heavy equipment is used together with state-of-the-art 
                        transport and communication facilities to make sure the quality of production and on-time delivery is always guaranteed.
                        We will not waiver in our promise to provide meaningful employment to our associates and maintain the ideal 
                        balance of a sustainable environment while fulfilling our contribution to nation-building.

                    </p>
                    <p>
                        “It is always anyone’s objective to be the best. With that in mind, when 
                        we started the company, we made sure we did not waver from this goal. We are also aware that 
                        trust is earned; it takes a long time to gain trust and much quicker to lose it. 
                        We challenged ourselves to consistently supply our clients with high-quality aggregates through 
                        great customer service and a down-to-earth attitude. At the end of the day, we are here to help each 
                        other and our efforts go full circle. It makes us proud to see good quality building infrastructures 
                        and roadways built with the help of our aggregates. As our slogan says, “supporting strong foundations.”
                     </p>
                     
                </div>
              </div>
        </div>
        <br></br>


        <div class="container" id="carousel">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></butto>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="stockpile1.jpg" class="d-block w-100 h-25" alt="...">
            </div>
            <div class="carousel-item">
                    <img src="loading.jpg" class="d-block w-100 h-25" alt="...">
            </div>
            <div class="carousel-item">
                    <img src="crushingmachine.jpg" class="d-block w-100 h-25" alt="...">
            </div>
            <div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="visually-hidden">Next</span>
            </button>
            </div>   
        </div>
        <br></br>
        <div class="container">
            <div class="flex-grow-1 ms-3">
                <p>
                    Ecomixx Concrete Solution Incorporated has an extensive selection of high-quality sand and gravel 
                    and can provide delivery services to ensure your project is completed on time and on budget. 
                    We also offer helpful advice and tips to make sure you get the most out of your purchase. Our team is friendly, 
                    knowledgeable, and always happy to help. Please don't hesitate to contact us with any questions or concerns you may have.
                     We look forward to helping you get the best results for your project. 
                 </p>
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                <img src="backhoe.jpg" class="object-fit-contain border rounded" alt="" srcset="" style="height: 25%; width: 25%;">
            </div>
            

            </div>
          </div>
        </div>
        



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
  <br></br>
  <footer>
    <div class="card text-center">
      <h1>"Supporting Strong Foundations"</h1>
      <h2>We are happy to serve you!</h2>
      <div class="card-header">
    </div>
      <div class="card-body">
        <h5 class="card-title">Ecomixx Concrete Solution Corporation</h5>
        <p class="card-text">4th Floor UPBROFIL Corporate Center Mitsui Bussan Road, Bajada Davao City. </p>
        <a href="ecomixx.html" class="btn btn-primary">Back to Home</a>
      </div>
      <div class="card-footer text-muted">
       Since 2019
      </div>
    </div>
  </footer>
  
</html>