<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecomixx Concrete Solution Corporation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>

      #start{
        outline:2px solid; 
        background-image:url(lirio.jpg); 
        background-size: cover;
        height: 600px; 
        max-width: 98%;
        margin-left:20px; 
        margin-right:20px; 
        padding: 5px;
        border: 2px solid black;
      }
      #menu{
        height: 300px;
        max-width: 98%;
        background-color: rgb(101, 179, 23);
        background-size: cover ;
      }
      





    </style>
</head>
  <body>
  
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" style="background:rgb(101, 179, 23)">
          <a class="navbar-brand" href="about-us">About Us</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Products</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link dropdown-toggle" href="contact-us.ejs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Equipment Rental</a></li>
                  <li><hr class="dropdown-divider"></li> 
                  <li><a class="dropdown-item" href="#">Shipping Charter</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
      <div class="container" id="start" >
        <div class="logo">
            <img src="logo_final.png" alt="" srcset="">
        </div>
      </div>
      <main>
      <hr>
        <section class="py-5 text-center container" id="menu" >
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Ecomixx Concrete Solution is here to serve you!</h1>
              <p class="lead text-muted">More</p>
              <p>
                <a href="#" class="btn btn-outline-success my-2">Products</a>
                <a href="#e" class="btn btn-outline-success my-2">Services</a>
              </p>
            </div>
          </div>
        </section>
      <hr>
      </main>
      <br></br>
      <br></br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
  <footer>
    <div class="card text-center">
      <h1>"Supporting Strong Foundations"</h1>
      <h2>We are happy to serve you!</h2>
      <div class="card-header">
    </div>
      <div class="card-body">
        <h5 class="card-title">Ecomixx Concrete Solution Corporation</h5>
        <p class="card-text">4th Floor UPBROFIL Corporate Center Mitsui Bussan Road, Bajada Davao City. </p>
        <a href="#" class="btn btn-primary">Back to Top</a>
      </div>
      <div class="card-footer text-muted">
       Since 2019
      </div>
    </div>
  </footer>
  
</html>


   
</body>
</html>